In [2]:
#importing data set using pandas
import pandas as pd
data=pd.read_csv(r'C:\Users\205223027\Downloads\play_tennis.csv')
data.head(10)

   day   outlook  temp humidity    wind play
0   D1     Sunny   Hot     High    Weak   No
1   D2     Sunny   Hot     High  Strong   No
2   D3  Overcast   Hot     High    Weak  Yes
3   D4      Rain  Mild     High    Weak  Yes
4   D5      Rain  Cool   Normal    Weak  Yes
5   D6      Rain  Cool   Normal  Strong   No
6   D7  Overcast  Cool   Normal  Strong  Yes
7   D8     Sunny  Mild     High    Weak   No
8   D9     Sunny  Cool   Normal    Weak  Yes
9  D10      Rain  Mild   Normal    Weak  Yes

In [5]:
data.describe()

       day outlook  temp humidity  wind play
count   14      14    14       14    14   14
unique  14       3     3        2     2    2
top     D1   Sunny  Mild     High  Weak  Yes
freq     1       5     6        7     8    9

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   day       14 non-null     object
 1   outlook   14 non-null     object
 2   temp      14 non-null     object
 3   humidity  14 non-null     object
 4   wind      14 non-null     object
 5   play      14 non-null     object
dtypes: object(6)
memory usage: 800.0+ bytes

In [16]:
print(data.ndim)
print(data.shape)
print(data.size)

2
(14, 6)
84

In [19]:
data=data.drop(axis=1,columns=["day"])
print(data)

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

In [41]:
# predict the output
indic={"outlook":"Sunny","temp":"Hot","humidity":"High","wind":"weak"}
#prior probabilities
prob_of_play_yes=(data.play.str.count("Yes").sum())/data["play"].count()
prob_of_play_no=(data.play.str.count("No").sum())/data["play"].count()
#posteiriory probabilities
c=0
for i,j in zip(data.outlook.str.count(indic["outlook"]),data.play.str.count("Yes")):
    if(i==j and j==1):
        c=c+1
prob_of_outlook_yes=c/prob_of_play_yes
print(prob_of_outlook_yes)

3.1111111111111107